@charset "UTF-8";

@import "font.css";

*{
    padding:0;
    margin:0;
}
.one_calender_box{
    width: 380px;
    height: 300px;
    padding-top: 20px;
    background-color: white;
    border: 2px solid #ff7200;
    display: none;
}
.c_cal1{
    width:210px;
    margin-left: 30px;
    display: inline-block;
    float: left;
}
.one_calendar{
    width:210px;
    border: 0;
    text-align: center;
}
.CalendarYM{
    font-family: "SpoqaBold";
    font-size: 22px;
    color: black;
}
td {
    width: 30px;
    height: 30px;
    text-align: center;
    font-family: "SpoqaReg";
    font-size: 12px;
    border-radius: 3px;
    color: #808080;
    cursor: default;
    /*모서리 둥글게*/
}

.su{
    color: #ff0000;
}
.sa{
    color: #0085fe;
}

.c_line{
    width: 100%;
    height: 2px;
    border-top: 1px solid #ff7200;
    margin-top:5px;
    margin-bottom: 10px;
}
.c_msg_box{
    text-align: center;
}
.c_msg_box>h1{
    font-family: "SpoqaBold";
    font-size: 16px;
    color: #ff4200;
    
}

.c_cal2{
    width: 100px;
    margin-left: 15px;
    display: inline-block;
    float: left;
    text-align: center;
    margin-top:10px;
}
.dateinputbox{
    width: 100%;
}
.dateinputbox>h1{
    font-family: "SpoqaBold";
    font-size: 16.5px;
    color:#4d4d4d;
    margin-bottom: 5px;
}
.dateinputbox>input[type=text]{
    width: 100%;
    border:0;
    outline: none;
    font-family: "SpoqaBold";
    font-size: 16.5px;
    color:#4d4d4d;
    text-align: center;
    margin-bottom: 20px;
}
.img_fiter{
    width: 15px;
    height: 15px;
    margin-right:5px;
}
.initbnt{
    margin: 0 auto;
    border: 0;
    background-color: white;
    font-family: "SpoqaBold";
    font-size: 14px;
    color:#4d4d4d;
    margin-top:20px;
}
.cal_btn{    
    color: #ff7200;
    font-size: 10px;
}
.cal_search_btn{
    margin-top: 45px;
    width: 90px;
    height: 30px;
    font-family: "SpoqaBold";
    font-size: 14px;
    color:white;
    background-color: #ff7200;
    border: 0;
    text-align: center;
    

}
