@import url("font.css");
@import url("header.css");
@import url("footer.css");

* {
    margin: 0;
    padding: 0;
}

.warp{
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
}
.phto_view{
    width: 100%;
    height: 400px;
    position: relative;
}
.phto_view>img{
    width: 1024px;
    height: 400px;
    z-index: 95;
}
.prev_btn{
    height: 400px;
    line-height: 400px;
    margin-left: 20px;
    z-index: 99;
    position: absolute;
}
.next_btn{
    height: 400px;
    line-height: 400px;
    margin-right: 20px;
    left: calc(1024px - 20px - 40px);
    z-index: 99;
    position: absolute;
}
.date_box_area{
    width: 350px;
    height : 150px;
    background-color: #4d4d4d;
    z-index: 99;
    position: absolute;
    top: calc(400px - 150px);
    left: calc(1024px - 350px);
}
.date_box{
    margin-top :20px;
    margin-left : 20px;
    margin-right : 20px;
}
.date_title>h1{
    font-family: "SpoqaBold";
    font-size: 22px;
    color: white;
}
.date_title>h1:nth-child(1){
    float : left;
}
.date_title>h1:nth-child(2){
    float : right;
}
.date_content{
    width: 100%;
    height: 45px; 
    display: inline-block;
}
.date_content>input[type=text]{
    width:130px;
    color: white;
    background-color: #4d4d4d;
    font-family: "SpoqaReg";
    font-size: 18px;
    display: inline-block;
    border:0;
    line-height: 40px;
}
.date_content>input[type=text]:nth-child(3){
    float: right;
    text-align: right;
}
.img_arrow{
    max-width:50%; 
    max-height:50%;
    display: inline-block;
}
.date_line{
    border: 1px solid #ff7200;
}
.stay_dates_box{
    margin-top: 10px;
}
.stay_dates_box>h1{
    color: white;
    font-family: "SpoqaLight";
    font-size: 16px;
    display: inline-block;
}
.stay_dates_box>h1:nth-child(1){
    float: left;
}
.stay_dates_box>h1:nth-child(2){
    float: right;
}
.detail_col1{
    width:600px;
    display: inline-block;
    float: left;
    margin-left: 30px;
    margin-top: 40px;
}
.stay_name>h1{
    font-family: "SpoqaBold";
    font-size: 50px;
    color: #ff7200;
}
.address_phone>h1{
    font-family: "SpoqaBold";
    font-size: 19px;
    color: #9a9a9a;
    display: inline-block;
}
.address_phone>.line{
    height: 14px;
    border-right: 5px solid #ff5a00;
    display: inline-block;
    margin-left: 12px;
    margin-right: 12px;
}
.review_star{
    display: inline-block;
    float: left;
}
.review{
    margin-left: 20px;
    height: 50px;
    display: inline-block;
    float: left;
    line-height: 50px;
}
.review>h1{
    font-family: "SpoqaBold";
    color: #666666;
    font-size: 20px;
}
.tab_box{
    width: 610px;
    height: 50px;
    margin-top: 30px;
}

.tab{
    display: inline-block;
    width: calc(50% - 10px);
    height: 100%;
    font-size: 18px;
    font-family: "SpoqaBold";
    text-align: center;
    line-height: 50px;
    border: 2px solid #b3b3b3;
    background-color: #e6e6e6;
    color: #808080;
    float: left;
    cursor: pointer;
}

.room_lsit_box>ul{
    list-style: none;
}
.roominfo_box{
    width: 600px;
    height: 250px;
    margin-top: 40px;
}
.roominfo_col1{
    width: 300px;
    height: 100%;
    display: inline-block;
}
.roominfo_col1>img{
    width: 100%;
    height: 100%;
}
.roominfo_col2{
    width: 270px;
    height: 100%;
    display: inline-block;
    text-align: center;
    float: right;
}
.room_title{
    font-family: "SpoqaBold";
    font-size: 25px;
    color: #4d4d4d;
    text-align: left;
}
.room_person{
    font-family: "SpoqaBold";
    font-size: 16px;
    color: #808080;
    text-align: left;
    margin-top:10px;
    margin-bottom: 10px;
}
.room_price_box{
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.room_price_box>h1{
    float: left;
}
.room_price_box>h1:nth-child(1){
    font-size: 20px;
    color: #ff7200;
    margin-right: 10px;
    font-family: "SpoqaBold";
}
.room_price_box>h1:nth-child(2){
    font-family: "SpoqaReg";
    font-size: 17px;
    color: #999999;
}
.room_price_box>h1:nth-child(3){
    font-size: 23px;
    color: #4d4d4d;
    font-family: "SpoqaBold";
    float: right;
}
.roominfo_line{
    width: 100%;
    border: 1px solid #ff7200;
}
.room_reserv{
    width: 100%;
    height:50px;
    background-color: #ff5a00;
    color: white;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    font-family: "SpoqaBold";

}
.room_reserv.rev_not{
	background-color: #4b4b4b;
}

.detail_col2{
	position: relative;
    width: 350px;
    display: inline-block;
    float: right;
}
.map{
    width: 350px;
    height: 350px;
    background-color: black;
    color: white;
    text-align: center
}