@charset "UTF-8";
@import url("./font.css");

* {
    margin: 0;
    padding: 0;
}

.footer{
    width: 100%;
    min-width: 1024px;
    height: 180px;
    background-color: black;
    margin-top : 50px;
    z-index: 99;
    position: relative;
}
.foot_top{
    width: 940px;
    height: 55px;
    border-bottom: 1px solid #999999;
    margin: 0 auto;
}
.foot_log_box{
    height: 55px;
    display: inline-block;
}
.foot_log_box>h1{
    /* font-family: "NotoSansCJKkr-Bold"; */
    font-family: "SpoqaReg";
    font-size: 20px;
    color: white;
    line-height: 55px;
}
.foot_top_menu_box{
    height: 55px;
    display: inline-block;
    float: right;
    position: relative;
}
.foot_top_menu{
    list-style: none;
    margin-top: 12px;
}
.foot_top_menu>li{
    /* font-family: "NotoSansCJKkr-Medium"; */
    font-family: "SpoqaReg";
    font-size: 13px;
    color: #999999;
    display: inline-block;
    border-right: 1px solid #999999;
    padding-right: 13px;
    padding-left: 13px;
}
.foot_bottom_menu_box>ul{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.foot_bottom_menu_box>ul>li{
    /* font-family: "NotoSansCJKkr-Medium"; */
    font-family: "SpoqaReg";
    font-size: 13px;
    color: #999999;
    display: inline-block;
    border-right: 1px solid #999999;
    padding-right: 13px;
    padding-left: 13px;
}
.foot_bottom_menu_box2>ul{
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
}
.foot_bottom_menu_box2>ul>li{
    /* font-family: "NotoSansCJKkr-Medium"; */
    font-family: "SpoqaReg";
    font-size: 13px;
    color: #999999;
    display: inline-block;
    border-right: 1px solid #999999;
    padding-right: 13px;
    padding-left: 13px;
}