@charset "UTF-8";
@import url("font.css");
@import url("header.css");
@import url("footer.css");


* {
    margin: 0;
    padding: 0;
}
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

.main_titlebar{
    position: fixed;
    width: 100%;
    min-width: 1024px;
    height: 55px;
    background-color: white;
    z-index: 999;
}
.title_log_box{
    width: 155px;
    height: 100%;
    display: inline-block;
    float: left;
    cursor: pointer;
}
.title_log_box>img{
    margin-top : 15px;
    margin-left: 60px;
}
.titlebar_menu_box{
    height: 100%;
    display: inline-block;
    float: left;
}
.titlebar_menu {
    list-style: none;
}
.titlebar_menu>li{
    font-family: "SpoqaReg";
    font-size: 17px;
    color: #666666;
    display: inline-block;
    line-height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}

.titlebar_submenu_box{
    height: 100%;
    display: inline-block;
    float: right;
    margin-right: 0px;
}
.titlebar_submenu {
    list-style: none; 
}
.titlebar_submenu>li{
    font-family: "SpoqaReg";
    font-size: 17px;
    color: #666666;
    display: inline-block;
    line-height: 55px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
}
.searchbar_line{
    width: 100%;
    min-width: 1024px;
    border-bottom: 1px solid #FF7200;
    height: 55px;
}
.titlebar_submenu>li>a{
	color: #666666;
}
.titlebar_submenu>li>a:hover{
	color: #ff7200;
}

.main_hader_blank{
    width: 100%;
    height: 55px;
    background-color: white;
}