@charset "UTF-8";
@import url("font.css");
@import url("header.css");
@import url("footer.css");

@font-face { font-family: "SpoqaBold"; 
    src: url("./font/spoq/SpoqaHanSansBold.woff") format('woff'); 
}
@font-face { font-family: "SpoqaLight"; 
    src: url("./font/spoq/SpoqaHanSansLight.woff") format('woff'); 
}
@font-face { font-family: "SpoqaReg"; 
    src: url("./font/spoq/SpoqaHanSansRegular.woff") format('woff'); 
}
@font-face { font-family: "SpoqaThin"; 
    src: url("./font/spoq/SpoqaHanSansThin.woff") format('woff'); 
}

* {
    margin: 0;
    padding: 0;
}

.warp{
    width: 100%;
    min-width: 1024px;
}

.main_jumbo_box{
    width: 100%;
    height: 450px;
    background-image: url('../img/Jumbotron_main.png');
    float: left;
}
.fast_search_box{
    width: 1024px;
    margin: 0 auto;
    margin-top: 45px;
}
.fast_stay_box{
    width: 220px;
    height: 100%;
    display: inline-block;
    float: left;
}
.fast_title_box{
    width: 130px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
    background-color: #FF7200;
}
.fast_title_box>h1{
    font-family: "SpoqaBold";
    font-size: 16px;
    line-height: 40px;
    color: white;
}
.fast_stay_type{
    width: 220px;
    height: 90px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-color: white;
    cursor: pointer;
}
.fast_stay_type>h1{
    font-family: "SpoqaBold";
    float: left;
    font-size: 24px;
    line-height: 90px;
    margin-left: 60px;
    display: inline-block;
}
.fast_stay_type>img{
    float: right;
    width: 80px;
    height: 60px;
    margin-top: 18px;
    margin-right: 30px;
    display: inline-block;
}

.fast_area_box{
    width: 380px;
    height: 100%;
    display: inline-block;
    margin-left: 25px;
    float: left;
}
.fast_area{
    width: 100%;
    height: 320px;
    background-color: white;
    float: left;
}
.fast_area_title{
    width: 100%;
    margin-top:15px;
    margin-bottom: 20px;
    text-align: center;
}
.fast_area_title>h1{
    font-size: 23px;
    font-family: "SpoqaBold";
}
.fast_area_list{
    width: 49%;
    height: 100%;
    list-style: none;
    float: left;
    display: inline-block;
}
.fast_area_list>li{
    font-family: "SpoqaReg";
    margin-left: 25px;
    font-size: 12px;
    color: #FF7200;
    cursor: pointer;
    margin-bottom: 5px;
}
.fast_date_box{
    width: 380px;
    height: 100%;
    display: inline-block;
    float: right;
}

.fast_date{
    width: 100%;
    height: 320px;
    background-color: white;
    float: left;
}


.main_middle_box{
    width: 1024px;
    height: 300px; 
    margin: 0 auto; 
}
.main_middle_title_box{
    margin-top: 10px;
    margin-left: 50px;
}
.main_middle_title_box>h1{
    font-family: "SpoqaBold";
    font-size: 38.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ff7200;
}
.main_middle_title_box>h2{
    font-family: "SpoqaReg";
    font-size: 19px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #9a9a9a;
}
.middle_row_box{
    width: calc(1024px - 50px );
    height: 180px;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
}
.best_box{
    width: calc(50% - 10px);
    height: 100%;
    display: inline-block;
}
.best_img_box{
    width: 210px;
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.best_img_box>img{
    width: 210px;
    height: 180px;
}

.best_contents_box{
    width: 210px;
    height: 100%;
    display: inline-block;
    list-style: none;
    float: left;
}
.best_contents_box>ul{
    float: left;
    list-style: none; 
}
.best_contents_box>ul>li:nth-child(1){
    font-family: "SpoqaReg";
    font-size: 14px;
    color: #ff0000;
}
.best_contents_box>ul>li:nth-child(2){
    font-family: "SpoqaBold";
    font-size: 19px;
    color: #ff7200;
}
.best_contents_box>ul>li:nth-child(3){
    font-family: "SpoqaReg";
    font-size: 13px;
    color: #989898;
}
.best_contents_box>ul>li:nth-child(4){
    margin-top: 10px;
    margin-bottom: 10px;
}
.best_contents_box>ul>li:nth-child(4)>img{
    width :35px;
    height: 35px;
    float: none;
}
.best_contents_box>ul>li:nth-child(5){
    font-family: "SpoqaBold";
    font-size: 13px;
    text-align: center;
    color: #989898;
}
.best_contents_box>ul>li:nth-child(6){
    margin-top: 5px;
}
.best_contents_box>ul>li:nth-child(6)>button{
    width: 190px;
    height: 30px;
    font-family: "SpoqaReg";
    font-size: 13px;
    text-align: center;
    color: white;
    background-color: #FF7200;
    border: 0px;
}