@import url("./font.css");
@import url("./header.css");
@import url("./footer.css");

* {
    margin: 0;
    padding: 0;
}

.wrap{
    width: 1024px;
    margin: 0 auto;
}
.ment_box{
    margin-top: 140px;
    text-align: center;
}
.ment_box>h1{
    color: #ff5a00;
    font-family: "NotoSansCJKkr-Black";
    font-size: 50px;
}
.complete_img{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 60px;
}
.complete_login{
    width: 410px;
    height: 60px;
    margin: 0 auto;
    background-color: #ff5a00;
    color: white;
    font-family: "NotoSansCJKkr-Bold";
    font-size: 20px;
    text-align: center;
    line-height: 60px;
}