@import url("./font.css");
@import url("./header.css");
@import url("./footer.css");

@font-face { font-family: "SpoqaBold"; 
    src: url("./font/spoq/SpoqaHanSansBold.woff") format('woff'); 
}
@font-face { font-family: "SpoqaLight"; 
    src: url("./font/spoq/SpoqaHanSansLight.woff") format('woff'); 
}
@font-face { font-family: "SpoqaReg"; 
    src: url("./font/spoq/SpoqaHanSansRegular.woff") format('woff'); 
}
@font-face { font-family: "SpoqaThin"; 
    src: url("./font/spoq/SpoqaHanSansThin.woff") format('woff'); 
}


* {
    margin: 0;
    padding: 0;
}

.msg{
	color: red;
}

.wrap{
    width: 420px;
    margin: 0 auto;
}
.titel_box{
    padding-top:40px;
    padding-bottom: 30px;
    text-align: center;
}
.titel_box>h1{
    font-family: "SpoqaBold";
    font-size: 50px;
    color: #ff5a00;
}

.input_text{
    width: 100%;
    height: 60px;
    border: 1.5px solid #ffa574;
    line-height: 60px;
    margin-bottom: 15px;
}
.input_text>input[type=text],input[type=password]{
    width: 300px;
    font-family: "SpoqaReg";
    outline: none;
    font-size: 17px;
    margin-left: 30px;
    border: 0;
}
.input_text>input[type=text]::placeholder{
    color:#b3b3b3;
}
.input_text>input[type=password]::placeholder{
    color:#b3b3b3;
}
.gender_box{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    color: #808080;
    font-family: "NotoSansCJKkr-Regular";
    margin-bottom: 15px;
}
.gender_box>input[type=radio]:last-child{
    margin-left: 40px;
}

.phone_box{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.phone_box .input_text{
    width: 120px;
    display: inline-block;
    margin-right: 24px;
    float: left;
}
.phone_box .input_text:last-child{
    margin-right: 0px;
    float: right;
}
.phone_box .input_text>input[type=text]{
    width: 70px;
}
.phone_box .input_text>select{
    font-family: "NotoSansCJKkr-Medium";
    font-size: 17px;
    border: 0;
    margin-left: 30px;
}
.join_btn{
    margin-top:30px;
    
}
.join_btn>input[type=button]{
    width: 100%;
    height: 60px;
    background-color:  #ff5a00;
    text-align: center;
    color: white;
    line-height: 60px;
    font-size: 20px;
    font-family: "NotoSansCJKkr-Bold";
    border: 0;
    cursor: pointer;
}