@import url("./font.css");
@import url("./header.css");
@import url("./footer.css");


* {
    margin: 0;
    padding: 0;
}

.wrap{
    width: 420px;
    margin: 0 auto;
    margin-top: 70px;
}
.login_ment_box{
    width: 100%;
    text-align: center;
    margin-bottom: 35px;
}
.login_ment_box>h1{
    font-family: "SpoqaBold";
    font-size: 38px;
    color: #4d4d4d;
    display: inline-block;
}
.login_ment_box>h1:nth-child(2){
    color: #FF5a00;
    margin-left:10px;
    margin-right: 10px;
}
.input_text{
    width: 100%;
    height: 60px;
    border: 1.5px solid #FF7200;
    line-height: 60px;
    margin-bottom: 15px;
}
.input_text>input[type=text],input[type=password]{
    width: 300px;
    font-family: "SpoqaReg";
    outline: none;
    font-size: 17px;
    margin-left: 30px;
    border: 0;
}
.input_text>input[type=text]::placeholder{
    color:#b3b3b3;
}
.input_text>input[type=password]::placeholder{
    color:#b3b3b3;
}
.error_msg{
    color: red;
    font-weight: 900;
}
.login_check_box{
    margin-top: 20px;
}
.login_check_box>input{
    margin: 0 auto;
    float: left;
    margin-top: 3px;
}
.login_check_box>label{
    font-family: "SpoqaBold";
    font-size: 17px;
    color: #999999;
    margin-left: 20px;
    display:inline-block;
    float: left;
}

.login_btn_box>input[type=submit]{
    width: 100%;
    height: 60px;
    font-family: "SpoqaBold";
    font-size: 19px;
    color: white;
    background-color: #FF5a00;
    text-align: center;
    line-height: 60px;
    margin-top: 30px;
    border: 0;
}
.repwd_box{
    margin-top: 25px;
    text-align: center;
}
.repwd_box>h3:nth-child(1){
    font-family: "SpoqaReg";
    font-size: 17px;
    color: #808080;
    margin-bottom: 5px;
}
.repwd_box>h3:nth-child(2){
    font-family: "SpoqaBold";
    font-size: 17px;
    color: #ff894f;
    text-decoration: underline;
}
.adduser_box{
    margin-top: 25px;
    text-align: center;
}
.adduser_box>h3{
    font-family: "SpoqaBold";
    font-size: 17px;
    color: #ff894f;
    text-decoration: underline;
}
.adduser_ment_box{
    margin-bottom: 10px;
}
.adduser_ment_box>h3{
    font-family: "SpoqaBold";
    font-size: 30px;
    color: #999999;
    display: inline-block;
}
.adduser_ment_box>h3:nth-child(2){
    font-size: 30px;
    color: #ff5a00;
    margin-left: 10px;
}

input[type=checkbox]:before {
     content:""; 
     display:inline-block; 
     width:20px; 
     height:20px; 
     background-image: url('../img/icon/login_empty.png');
    }
input[type=checkbox]:checked:before {  
    background-image: url('../img/icon/login_check.png') ;
}