@import url("./font.css");
@import url("./header.css");
@import url("./footer.css");



* {
    margin: 0;
    padding: 0;
}
.wrap{
    width:1024px;
    margin: 0 auto;
}
.myreserv_box{
    width: 100%;
    height: 250px;
    margin: 30px;
}
.img_box{
    display: inline-block;
    float: left;
    margin-right: 20px;
}
.img_box>img{
    width: 300px;
    height: 250px;
}
.info{
    width: calc(100% - 300px - 30px);
    height: 250px;
    display: inline-block;
    border: 2px solid #FF7200;
}

.info_row1{
    width: 100%;
    height: 48%;
    margin-left: 20px
}
.info_row1>div:nth-child(1){
    font-family: "SpoqaBold";
    font-size: 30px;
    color: #FF7200;
}
.info_row1>div:nth-child(2){
    font-family: "SpoqaReg";
    font-size: 20px;
    color: #808080;
}
.info_row1>div:nth-child(3){
    font-family: "SpoqaReg";
    font-size: 20px;
    color: #808080;
}


.info_row2{
    padding-top: 20px;
    width: 100%;
    height: calc(50% - 20px);

}

.time_box{
    width: 34%;
    height: 100% ;
    display: inline-block;
    color : #808080;
    margin-left: 20px;
    float: left;
}
.roominfo_box{
    width: 34%;
    height: 100%;
    display: inline-block;
    float: left;
}
.btn_box{
    width: 27%;
    height: 100%;
    display: inline-block;
    position: relative;
    float: left;
}
.btn_boxs{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 20px;
    text-align: right;
}

.btn{
    border: 0;
    font-family: "SpoqaReg";
    font-size: 20px;
    color: white;
    padding: 3px;
    background-color: #FF7200;
}
