@font-face { font-family: "SpoqaBold"; 
    src: url("./font/spoq/SpoqaHanSansBold.woff") format('woff'); 
}
@font-face { font-family: "SpoqaLight"; 
    src: url("./font/spoq/SpoqaHanSansLight.woff") format('woff'); 
}
@font-face { font-family: "SpoqaReg"; 
    src: url("./font/spoq/SpoqaHanSansRegular.woff") format('woff'); 
}
@font-face { font-family: "SpoqaThin"; 
    src: url("./font/spoq/SpoqaHanSansThin.woff") format('woff'); 
}
*{
    padding: 0;
    margin: 0;
}

.popup_type{
    border: 1px solid #ff7200;
    border-top: 3px solid #ff7200;
    line-height: 30px;
    background-color: white;
    position: absolute;
    margin-top: 1px;
    display: none;
}

.popup_type_box{
    margin:20px;
}

.input_radio{
    font-family: "SpoqaReg";
    font-size: 17px;
    color: #666666;
}
.radio_activity{
    font-family: "SpoqaBold";
    color: #ff7200;
}

.pbox01{
	width: 100px;
    height: 100px;
}