@import url("font.css");
@import url("header.css");
@import url("footer.css");

*{
    margin: 0;
    padding: 0;
}

.warp{
    width: 1024px;
    min-width: 1024px;
    margin: 0 auto;
    padding-top: 40px;
}

.reser_cal1{
    width: 600px;
    /*border: 1px solid black;*/
    display: inline-block;
    float : left;
}
.reser_cal1_cal1{
    width: calc(49%);
    height: 200px;
   /*border: 1px solid black;*/
    display: inline-block;
    float: left;
}
.reser_cal1_cal1>img{
    width: 300px;
    height: 200px;
}
.reser_cal1_cal2{
    width: calc(46%);
    height: 200px;
    /*border: 1px solid black;*/
    display: inline-block;
    float: right;
}
.reser_cal1_cal2>.room_title{
    font-family: "SpoqaBold";
    font-size: 25px;
    color:#ff7200;
    margin-bottom: 5px;
}
.reser_cal1_cal2>.stay_name{
    font-family: "SpoqaBold";
    font-size: 25px;
    color:#4d4d4d;
}
.reser_cal1_cal2>.address{
    font-family: "SpoqaBold";
    font-size: 16px;
    color:#9a9a9a;
}
.reser_cal1_cal2>.room_person{
    font-family: "SpoqaBold";
    font-size: 15px;
    color:#808080;
    margin-top:30px;
}
.reser_tab_box{
    width: 100%;
    margin-top:40px;
   /*border: 1px solid black;*/
}
.reser_tab{
    width: 295px;
    height: 50px;
    border: 2px solid #b3b3b3;
    background-color: #e6e6e6;
    display: inline-block;
    float: left;
}
.reser_tab.select{
    background: white;
    border: 2px solid #ff7200;
    border-bottom: 0;
}
.tab_contents{
    list-style: none;
    line-height: 50px;
}
.tab_contents>li:nth-child(1){
    width: calc(17%);
    display: inline-block;
    float: left;
    height: 50px;
}
.tab_contents>li:nth-child(2){
    width: calc(17%);
    display: inline-block;
    font-size: 17px;
    font-family: "SpoqaBold";
    float: left;
    color: #ff7200;
}
.tab_contents>li:nth-child(3){
    width: calc(28%);
    display: inline-block;
    font-family: "SpoqaReg";
    font-size: 14px;
    color: white;
    float: left;
}
.tab_contents>li:nth-child(3)>span{
    background-color: #ff7200;
    padding-left: 4px;
    padding-right: 4px;
}
.tab_contents>li:nth-child(4){
    width: calc(35%);
    display: inline-block;
    float: left;
    font-size: 21px;
    font-family: "SpoqaBold";
    color: #4d4d4d;
}
.circle1 {                                
    width: 16px;                              
    height: 16px;                            
    border: 3px solid #ff7200;                       
    border-radius: 11px;            
    margin: 0 auto;   
    margin-top : 14px;     
    position: relative; 
}
.circle1>img{
    position: absolute;
    top: -2px;
    left: -2px;
}
.usetime_box{
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
}
.timebox{
    width: 45px;
    height: 45px;
    display: inline-block;
    border: 1px solid black;
    text-align: center;
    line-height: 45px;
}
.timebox.select{
    width: 47px;
    height: 47px;
    background-color: #ff7200;
    color:white;
    border: 0;
}
.timebox.none{
    display: none;
}
.timebox.notuse{
    border: 1px solid #b3b3b3;
    color: #b3b3b3;
}

.reserv_input_box{
    width: 100%;
    padding-top: 25px;
    border-top: 1px solid #ff7200;
}
.reserv_input_box>h1{
    font-family: "SpoqaBold";
    color: #ff4800;
    font-size: 35px;
}
.reserv_input1{
    margin-top:25px;
    float: left;
}
.reserv_input1>img{
    float: left;
    margin-top:10px;
}
.rev_name_box{
    display: inline-block;
    width: 350px;
    float: left;
}
.rev_name_box>span{
    font-family: "SpoqaBold";
    font-size: 20px;
    color:#808080;
    margin-right:30px;
    float: left;
}
.rev_name_box>input[type=text]{
    height: 30px;
    width: 230px;
    border: 0;
    border-bottom: 1px solid #ff4800;
    float: left;
}
.rev_name_box>input[type=text]::placeholder{
    font-size: 17px;
    font-family: "SpoqaReg";
}
.rev_ment_box{
    display: inline-block;
    width:215px;
    margin-left:10px;
}
.rev_ment_box>span{
    font-family: "SpoqaReg";
    color: #808080;
    font-size: 15px;
}
.rev_ment_box>span>span{
    font-family: "SpoqaBold";
    color: black;
}


.reser_cal2{
    width: 350px;
    display: inline-block;
    float : right;
}
.date_box_area{
    width: 350px;
    height : 170px;
    background-color: #4d4d4d;
    padding-top: 30px
}
.date_box{
    margin-left : 20px;
    margin-right : 20px;
}
.date_title>h1{
    font-family: "SpoqaBold";
    font-size: 25px;
    color: white;
}
.date_title>h1:nth-child(1){
    float : left;
}
.date_title>h1:nth-child(2){
    float : right;
}
.date_content{
    width: 100%;
    height: 45px; 
    display: inline-block;
}
.date_content>input[type=text]{
    width:130px;
    color: white;
    background-color: #4d4d4d;
    font-family: "SpoqaReg";
    font-size: 20px;
    display: inline-block;
    border:0;
    line-height: 40px;
}
.date_content>input[type=text]:nth-child(3){
    float: right;
    text-align: right;
}
.img_arrow{
    max-width:50%; 
    max-height:50%;
    display: inline-block;
}
.date_line{
    height: 25px;
    border-bottom: 2px solid #ff7200;
}
.date_line>span{
	color: white;
	font-family: "SpoqaReg";
}
.date_line>span:nth-child(2){
	float:right;
}
.stay_dates_box{
    margin-top: 15px;
}
.stay_dates_box>h1{
    color: white;
    font-family: "SpoqaLight";
    font-size: 18px;
    display: inline-block;
}
.stay_dates_box>h1:nth-child(1){
    float: left;
}
.stay_dates_box>h1:nth-child(2){
    float: right;
}

.receipt_box{
    margin-top: 45px;
    width: 310px;
    height: 210px;
    background-color: #4d4d4d;
    padding: 20px;
}
.receipt_row1>span{
    font-family: "SpoqaBold";
    font-size: 20px;
    color: #e6e6e6;
}
.receipt_row1>span:nth-child(2){
    font-family: "SpoqaReg";
    font-size: 18px;
    float: right;
}
.receipt_row2{
    margin-top: 30px;
}
.receipt_row2>span{
    font-family: "SpoqaReg";
    font-size: 15px;
    color: #e6e6e6;
}
.receipt_row3{
    margin-top : 20px;
}
.receipt_row3>span{
    font-family: "SpoqaBold";
    font-size: 20px;
    color: #ff9000;
}
.receipt_row3>span:nth-child(2){
    font-family: "SpoqaBold";
    font-size: 23px;
    float: right;
}

.payment{
    width: 350px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 18px;
    font-family: "SpoqaBold";
    background-color: #ff7200;
}
