<head>
  <link rel="stylesheet" href="https://demos.jquerymobile.com/1.4.2/css/themes/default/jquery.mobile-1.4.2.min.css">
  <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.js"></script>

  <script src="https://demos.jquerymobile.com/1.4.2/js/jquery.mobile-1.4.2.min.js"></script>
  
  <style>
  
form  {
    margin: 60px 0 0 0 !important;
 }
 
.ui-slider .ui-btn-inner {
    padding: 4px 0 0 0 !important;
}
 
.ui-slider-popup {
    position: absolute !important;
    width: 30px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    padding-top: 14px;
    z-index: 100;
    opacity: 0.8;
}
  </style>
</head>

<div></div>
<form style="margin-top:40px;">
  <div data-role="rangeslider">
    <label for="range-1a">Rangeslider1:</label>
    <input type="range" name="range-1a" id="range-1a" min="0" max="100" value="40" data-popup-enabled="true" data-show-value="true">
    <label for="range-1b">Rangeslider1:</label>
    <input type="range" name="range-1b" id="range-1b" min="0" max="100" value="80" data-popup-enabled="true" data-show-value="true">
  </div>
</form>