@charset "UTF-8";

@font-face { font-family: "SpoqaBold"; 
    src: url("./font/spoq/SpoqaHanSansBold.woff") format('woff'); 
}
@font-face { font-family: "SpoqaLight"; 
    src: url("./font/spoq/SpoqaHanSansLight.woff") format('woff'); 
}
@font-face { font-family: "SpoqaReg"; 
    src: url("./font/spoq/SpoqaHanSansRegular.woff") format('woff'); 
}
@font-face { font-family: "SpoqaThin"; 
    src: url("./font/spoq/SpoqaHanSansThin.woff") format('woff'); 
}